.container-1 {
  // width: 70%;
  height: 400px;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 30px;

  form {
    padding: 20px;
    display: inline-block;

    #input {
      width: 250px;
      height: 50px;
      border-radius: 10px;
      padding: 8px 15px;
      font-size: 20px;
    }

    label {
      font-size: 20px;
      margin-right: 10px;
      font-weight: 700;
      color: red;
    }
  }

  #btn-1 {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: darkturquoise;
    font-size: 20px;
    font-weight: 700;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
    background-color: rgb(85, 246, 249);
    }
  }

  .movie-container {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;

    width: 80%;
    margin-inline: auto;
    padding: 20px;
    background-color: rgb(34, 33, 33);
    color: white;
    font-size: 28px;
    color: crimson;
    font-weight: 900;

    .content {
      display: flex;
      gap: 200px;
      // justify-content: space-evenly;
      // justify-content: space-between;

      .poster {
        // width: 10px;
        // height: 80px;

        img {
          object-fit: cover;
          height: 100%;
          // width: 200px;
        }
      }

      .text {
        h2 {
          color: greenyellow;
          text-align: center;
          padding-bottom: 60px;
        }

        #flag-wrapper img {
          // width: 100px;
          height: 100px;
        }
      }
    }

    button.add-to-list {
      width: 160px;
      height: 60px;
      border: none;
      border-radius: 5px;
      font-size: 20px;
      font-weight: 700;
      background-color: rgb(20, 167, 220);
      color: white;
      cursor: pointer;

      align-self: flex-end;
      margin-top: 50px;

      &:hover {
      background-color: rgb(115, 214, 251);
      }

    }
  }
}
