.container {
  min-height: 100vh;
  margin-bottom: 200px;
  display: flex;
  justify-content: center;

  .content {
    width: 80%;
    display: flex;
    flex-direction: column;

    .movie-container {
      background-color: rgb(31, 31, 31);

      .movie-content {
        display: flex;
        gap: 80px;
        padding: 20px;
        height: 100%;

        .poster {
          height: 570px;

          img {
            object-fit: cover;
            height: 100%;
          }
        }

        .text {
          font-size: 16px;
          font-weight: 900;

          h2 {
            color: crimson;
            font-size: 36px;
            padding-bottom: 30px;
          }

          .movie-text {
            padding-bottom: 20px;
            color: crimson;
          }
          p {
            color: crimson;

            span {
              color: white;
            }
          }

          #flag-wrapper img {
            width: 100px;
            padding-bottom: 10px;
          }
        }
      }
    }

    .comment-rating {
      position: relative;
      border: 2px solid;
      width: 100%;
      padding: 30px 0;
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      padding: 20px;

      .comment {
        display: flex;

        .comment-content {
          width: 80%;
          color: red;
          font-weight: 700;
          font-size: 18px;

          > span {
            margin-bottom: 10px;
            display: block;
          }

          .comment-text {
            border: 1px solid;
            height: 80px;
            border-radius: 5px;
            color: black;
            padding: 10px 20px;
            font-weight: 400;
            font-size: 15px;
          }

          textarea {
            width: 90%;
            min-height: 80px;
            border: 1px solid black;
            border-radius: 10px;
            font-size: 15px;
            font-weight: 400;
            padding: 10px 20px;
            color: black;
          }

          input {
            width: 90%;
            min-height: 100px;
            padding: 5px 10px;
          }
        }
      }

      .my-rating {
        margin-top: 20px;

        p {
          font-weight: 700;
          font-size: 18px;

          span {
            color: red;
          }
        }
      }
    }

    .buttons {
      margin-top: 20px;
      align-self: flex-end;
      display: flex;
      gap: 10px;

      button {
        width: 190px;
        height: 50px;
        border: none;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 700;
        transition: 0.5s;
        cursor: pointer;
      }

      .delete-btn {
        background-color: crimson;
        color: white;

        &:hover {
          background-color: rgb(248, 110, 138);
          color: black;
        }
      }

      .edit-btn {
        background-color: rgb(70, 129, 237);
        color: white;

        &:hover {
          background-color: rgb(177, 205, 255);
          color: black;
        }
      }

      .checkbox-btn {
        background-color: green;
        color: white;
      }

      .cancel-btn {
        background-color: rgb(124, 124, 124);
        color: white;
      }
    }
  }
}
