<!-- <div class="container" *ngIf="selectedMovie$ |async as selectedMovie"></div> -->
<div class="container" *ngIf="selectedMovie">
  <div class="content">
    <div class="movie-container">
      <div class="movie-content">
        <div class="poster">
          <img [src]="selectedMovie.movieInfo.poster" alt="" />
        </div>

        <div class="text">
          <h2>{{ selectedMovie.movieInfo.title }}</h2>
          <p id="years">
            <span>Released:</span>
            {{ selectedMovie.movieInfo.title }} was released
            {{ selectedMovie.movieInfo.yearsAgo }} years ago
          </p>
          <!-- <br /> -->
          <p id="actor-names">
            <span>Actors:</span> {{ selectedMovie.movieInfo.actors }}
          </p>
          <!-- <br /> -->
          <p id="actor-names">
            <span>Genre:</span> {{ selectedMovie.movieInfo.genre }}
          </p>
          <p id="actor-names">
            <span>Awards:</span> {{ selectedMovie.movieInfo.awards }}
          </p>
          <p id="actor-names">
            <span>Runtime:</span> {{ selectedMovie.movieInfo.runtime }}
          </p>

          <!-- Countries -->
          <div
            class="countries-wrapper"
            *ngFor="let country of selectedMovie.countriesInfo"
          >
            <!-- The currency of {{country}} is  -->
            <p id="currency">
              <span>Currency:</span> {{ getCurrenciesPropertyName(country) }}
            </p>
            <br />
            <div id="flag-wrapper">
              <img [src]="country.flags.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- my comment -->
    <div class="comment-rating">
      <div class="comment">
        <div class="comment-content">
          <span>My Comment:</span>
          <p *ngIf="!isEditing">{{ selectedMovie.comment }}</p>
          <div>
            <!-- [(ngModel)]="selectedMovie.comment" -->
            <input
              type="text"
              *ngIf="isEditing"
              [value]="selectedMovie.comment"
              #input
            />
          </div>
        </div>

        <div class="buttons-container2">
          <button class="edit" (click)="enterEdit()" *ngIf="!isEditing">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button
            class="checkbox"
            *ngIf="isEditing"
            (click)="edit(selectedMovie)"
          >
            <i class="fa-solid fa-square-check"></i>
          </button>
          <!-- *ngIf="selectedMovie.id" (click)="deleteMovieComment(selectedMovie.id)" [disabled]="isEditing" -->
          <!-- <button
          class="delete"
          *ngIf="selectedMovie.id"
          (click)="deleteMovieComment(selectedMovie.id)"
          [disabled]="isEditing"
        >
          <i class="fa-solid fa-trash"></i>
        </button> -->
          <button class="cancel-edit" *ngIf="isEditing" (click)="cancelEdit()">
            <i class="fa-solid fa-rectangle-xmark"></i>
          </button>
        </div>
      </div>

      <div class="my-rating">
        <p><span>MyRating:</span> {{ selectedMovie.myRating }}</p>
      </div>
    </div>

    <div class="buttons">
      <button
        class="delete-btn"
        *ngIf="selectedMovie.id"
        (click)="deleteMovie(selectedMovie.id)"
      >
        Delete Movie
      </button>
      <!-- <button></button> -->
    </div>

    <!-- <div class="buttons-container1">
    <button class="edit">
      <i class="fa-solid fa-pen-to-square"></i>
    </button>
    <button
      class="delete"
      *ngIf="selectedMovie.id"
      (click)="deleteMovie(selectedMovie.id)"
    >
      <i class="fa-solid fa-trash"></i>
    </button>
    <button class="cancel">
      <i class="fa-solid fa-rectangle-xmark"></i>
    </button>
  </div> -->
  </div>
</div>
