<div class="container" *ngIf="selectedMovie">
  <div class="content">
    <div class="movie-container">
      <div class="movie-content">
        <div class="poster">
          <img [src]="selectedMovie.movieInfo.poster" alt="" />
        </div>

        <div class="text">
          <h2>{{ selectedMovie.movieInfo.title }}</h2>
          <p id="years" class="movie-text">
            <span>Released:</span>
            {{ selectedMovie.movieInfo.title }} was released
            {{ selectedMovie.movieInfo.yearsAgo }} years ago
          </p>
          <p id="actor-names" class="movie-text">
            <span>Actors:</span> {{ selectedMovie.movieInfo.actors }}
          </p>
          <p class="movie-text">
            <span>Genre:</span> {{ selectedMovie.movieInfo.genre }}
          </p>
          <p class="movie-text">
            <span>Awards:</span> {{ selectedMovie.movieInfo.awards }}
          </p>
          <p class="movie-text">
            <span>Runtime:</span> {{ selectedMovie.movieInfo.runtime }}
          </p>

          <!-- Countries -->
          <div
            class="countries-wrapper"
            *ngFor="let country of selectedMovie.countriesInfo"
          >
            <!-- The currency of {{country}} is  -->
            <p class="currency">
              <span>Currency:</span> {{ getCurrenciesPropertyName(country) }}
            </p>
            <br />
            <div id="flag-wrapper">
              <img [src]="country.flags.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- my comment -->
    <div class="comment-rating">
      <div class="comment">
        <div class="comment-content">
          <span>My Comment:</span>
          <div class="comment-text" *ngIf="!isEditing">
            {{ selectedMovie.comment }}
          </div>
          <!-- <div> -->
          <!-- [(ngModel)]="selectedMovie.comment" -->
          <textarea
            type="text"
            *ngIf="isEditing"
            [value]="selectedMovie.comment"
            #input
          ></textarea>
          <!-- </div> -->
        </div>
      </div>

      <div class="my-rating">
        <p><span>My Rating:</span> {{ selectedMovie.myRating }}</p>
      </div>
    </div>

    <div class="buttons">
      <button class="edit-btn" (click)="enterEdit()" *ngIf="!isEditing">
        Edit Comment
      </button>

      <button
        class="checkbox-btn"
        *ngIf="isEditing"
        (click)="edit(selectedMovie)"
      >
        Update Comment
      </button>
      <button class="cancel-btn" *ngIf="isEditing" (click)="cancelEdit()">
        Cancel
      </button>

      <span *ngIf="!isEditing">
        <button
          class="delete-btn"
          *ngIf="selectedMovie.id"
          (click)="deleteMovie(selectedMovie.id)"
        >
          Delete Movie
        </button>
      </span>
    </div>
  </div>
</div>
